.content {
  flex-direction: column;
  align-items: center;
}

.tasks {
  margin-top: 20px;
  width: 96%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  font-family: Arial;
  overflow: hidden;
}

.tasks__row {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  transition: .1s;
}

.tasks__row:hover {
  background: rgba(0, 0, 0, .1);
}

.tasks__row + .tasks__row {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.tasks__row--header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .75);
  padding-bottom: 10px;
}

.tasks__row--header .tasks__cell {
  position: relative;
  cursor: pointer;
}

.tasks__row--header .tasks__cell:after,
.tasks__row--header .tasks__cell:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  right: 0;
  transition: .2s;
}

.tasks__row--header .tasks__cell:after {
  border-top: 10px solid transparent;
}

.tasks__row--header .tasks__cell:before {
  border-bottom: 10px solid transparent;
}

.tasks__row--header .tasks__cell:hover:after {
  border-top: 10px solid rgba(0,0,0,.5);
}

.tasks__row--header .tasks__cell--order-asc:after {
  border-top: 10px solid black;
}

.tasks__row--header .tasks__cell--order-asc:hover:after {
  border-top: 10px solid transparent;
}

.tasks__row--header .tasks__cell--order-asc:hover:before {
  border-bottom: 10px solid rgba(0,0,0,.5);
}

.tasks__row--header .tasks__cell--order-desc:before {
  border-bottom: 10px solid black;
}

.tasks__row--header .tasks__cell--order-desc:hover:after {
  border-top: 10px solid rgba(0,0,0,.5);
}

.tasks__row--header .tasks__cell--order-desc:hover:before {
  border-bottom: 10px solid transparent;
}

.tasks__tooltip {
  top: 100%;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  background: black;
  color: white;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

.tasks__row--header:hover .tasks__tooltip {
  visibility: visible;
  opacity: 1;
}

.tasks__cell {
  width: calc((100% - 30px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.tasks__edit-column {
  margin-right: 10px;
  width: 30px;
}

.tasks__edit {
  width: 30px;
  cursor: pointer;
}

.tasks__edited {
  font-style: italic;
  color: rgba(0,0,0,.6);
}

.modal {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.2);
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 20px Arial;
}

.add__wrap {
  width: 15%;
  min-width: 180px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add__btn {
  font: 20px Arial;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid black;
  transition: .1s;
  outline: none;
  cursor: pointer;
}

.addbtn__btn:active {
  box-shadow: inset 0 0 3px black;
}

.pages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font: 20px Arial;
}

.pages__btn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #4a76a8;
  line-height: 40px;
  text-align: center;
  color: white;
  transition: .2s;
}

.pages__btn:hover,
.pages__btn--selected {
  background: #65a1e6;
}

.pages__btn + .pages__btn {
  margin-left: 10px;
}

.pages__btn--prev,
.pages__btn--next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages__btn--prev {
  visibility: hidden;
  opacity: 0;
}

.pages__btn--prev .pages__arrow {
  transform: rotateZ(180deg);
}